In [ ]:
def max(x,y,z):
 if (x>y>z) or (x>z>y):
   return(x)
 elif (y>z>x) or (y>x>z):
   return(y)
 else:
   return(z)
max(3,4,5)

5

In [ ]:
def calculation(x,y):
  s=x+y
  t=x-y
  return (s,t)
calculation(5,4)

(9, 1)

In [ ]:
def sum(liste):
  s=0
  for i in liste:
    s=s+i
  return s
list1=[5,4,3]


def multi(liste2):
  p=1
  for i in liste2:
    p=p*i
  return p
new1 =[]
for i in range(0,len(list1),2):
  new1.append(list1[i])
  print(sum(new1))

new2 =[]
for i in range(1,len(list1),2):
    new2.append(list1[i])
    print(multi(new2))

5
8
4

In [ ]:
def ordre(my_str):
 words = my_str.split()   
 words.sort()    
my_str = input("Enter a string: ") 
ordre(my_str) 
for word in words:  
   print(word,end("-"))

In [75]:
import math  
n=input("entrez  des valeurs") 
list=n.split(",")
list1=[]
for i in range(3):
 list1.append(int(list[i]))
 r=map(lambda n: math.sqrt((2*50*n)/30),list1)
for i in r:
 print(int(i),"-",end=" ")

entrez  des valeurs100,150,200
18 - 22 - 25 -